extends layout

block append head
  script(src='/assets/js/bootstrap.min.js', type='text/javascript')
  script(src='/assets/js/ZeroClipboard.min.js', type='text/javascript')
  script(src='/assets/js/main.js', type='text/javascript')

  :stylus
    #mybox-url
        text-align: center
        width: 100%
    .zeroclipboard-is-hover
        background-color: #e6e6e6;
        color: #333
        text-decoration: none
        background-position: 0 -15px
        -webkit-transition: background-position .1s linear
        -moz-transition: background-position .1s linear
        -o-transition: background-position .1s linear
        transition: background-position .1s linear
  style.
    #mybox-url input, #mybox-url a {
      height: 30px;
      line-height: 30px;
      font-size: 20px;
    }
    #mybox-url a i {
      margin-top: 5px;
    }
    #mybox-url input {
      background: transparent;
      color: #999;
      font-family: monospace;
    }
    #mybox-url input:hover {
      cursor: default;
    }

block content
  h2 Your In-Drop Url:
  br
  p
      #mybox-url.input-append
        input.uneditable-input.input-xxlarge(type="text", value="#{url}", readonly="readonly")
        a.js-zeroclipboard.btn(type="button",data-complete-title="copied!", data-title="copy to clipboard")
          i.icon-share-alt