extends layout

block content
    .jumbotron
        h1 Easy uploading to dropbox!
        p.lead Connect In-Drop to your dropbox account and allow your friends upload files directly in your dropbox folder by simple drag and drop!
        a.btn.btn-large.btn-success(href='login') Do it now!